body {
    background: url(../images/burger3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Barriecito', cursive;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    color: white;
    text-shadow: 2px 2px 3px black;
}
h2 {
    font-family: 'Barriecito', cursive;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
h4 {
    font-family: 'Barriecito', cursive;

}
.addcol {
    margin-left: 50px;
}
p {
    font-weight: bold;
}
.main-row {
    margin: 20px;
}
button {
    margin-bottom: 20px;
}
ul {
    padding: 0px;
}
li {
    list-style: none;
    text-align: center;

}
/* SM */
@media only screen and (max-width: 600px) {
    .addcol {
        text-align: center;
        margin: 0;
    }
}
/* MED */
@media only screen and (max-width: 768px) {
    h1 {
        margin-left:10%; 
    }
}
